/*
.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

figure.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-size: 80%;
    font-style: italic;
    text-align: left;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.left {
    display: block;
    margin: 0;
    margin-right: 1em;
    float: left;
}

p.right {
    display: block;
    margin: 0;
    float: right;
}

p.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p.center img {
    display: inline !important;
}

p.center em {
    display: block !important;
}

p.figure {
    display: block;
    border: 1px solid red;
}

p.figure img {
    display: block;
    border: 1px solid blue;
}

p.figure em {
    display: block;
    font-size: 9pt;
    text-align: left;
    border: 1px solid green;
}
*/
.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

/* https://jsfiddle.net/k7xwxj7a/ */
p.figure {
  margin: 1em; }

p.figure em {
  display: block;
  font-size: 10pt;
  text-align: left; }

p.figure-left {
  display: block;
  float: left; }

p.figure-right {
  display: block;
  float: right; }

p.figure-left img {
  display: block; }

p.figure-right img {
  display: block; }

p.figure-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

p.figure-center img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

p.figure-center em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px; }

.logo {
  margin-top: 1em; }

.logo a {
  text-decoration: none !important;
  border-bottom: none; }

.logo a:hover {
  text-decoration: none !important;
  border-bottom: none; }

.post-content strong {
  font-weight: bold; }
